/* Variables */
:root {
  --main_font: "Kanit", sans-serif;
  --main_color: rgb(192, 170, 131);
  --second_color: rgb(217, 204, 181);
  --bg-color: #171717;
  --white_color: rgb(255, 255, 255);
  --main-padding: 100px;
  --main-transition: 0.3s;
}

/* Main Components */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main_font);
  background-color: var(--bg-color);
}
ul {
  list-style: none;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s linear;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*  Medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 0;
  }
}
a {
  text-decoration: none;
}

.text_side h1 {
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
  color: var(--white_color);
  margin-bottom: 20px;
}
.text_side span {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: var(--main_color);
}
h1,
h2,
h3,
p,
a,
span,
img {
  transition: var(--main-transition);
}
a.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: var(--white_color);
  margin-top: 30px;
  transition: 0.2s linear;
}
a.btn:hover {
  background-color: var(--white_color);
  border: 2px solid black;
  color: black;
}
/* =========================== Start Home Section =========================== */
section.home {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 120vh;
  animation: background_change 16s ease-in-out infinite,
    background_size 8s ease-in-out infinite;
  z-index: 1;
}
section.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -2;
  background-color: rgba(52, 52, 52, 0.6);
}

/* Start NavSide */

/* section.home .nav_side {
  position: fixed;
  z-index: 100;
  background-color: var(--main_color);
  width: 100%;
  height: 100%;
  padding: 80px 50px;
}
section.home .nav_side .list_side i {
  color: var(--white_color);
  font-size: 70px;
  position: absolute;
  right: 50px;
  top: 20px;
}
section.home .nav_side .list_side ul li a {
  font-size: 28px;
  font-size: 28px;
  font-weight: 700;
  color: var(--white_color);
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid rgb(243, 243, 243);
  margin-bottom: 50px ;
}
section.home .nav_side .list_side ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 5px;
  box-shadow: 0 0 10 red;
} */

/* End NavSide */

/* =========================== Start NavBar =========================== */

section.home nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
section.home nav .logo {
  cursor: pointer;
}
section.home nav .nav_side {
  transition: var(--main-transition);
}
section.home nav .nav_side .links ul {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  padding-top: 10px;
  gap: 30px;
}
section.home nav .nav_side .links ul li a {
  color: var(--white_color);
  cursor: pointer;
  transition: var(--main-transition) linear color;
}
section.home nav .nav_side .links ul li a:hover {
  color: var(--main_color);
}
section.home nav .nav_side i {
  color: var(--white_color);
  font-size: 15px;
  cursor: pointer;
  transition: var(--main-transition) linear color;
}
section.home nav .nav_side i:hover {
  color: var(--main_color);
}
section.home nav .nav_side .search_layout {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}
section.home nav .nav_side .search_layout input {
  width: 260px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 300;
  z-index: 3;
  position: fixed;
  right: 150px;
  top: 30px;
}
section.home nav .bar_toggle i {
  font-size: 30px;
  display: none;
}
@media (max-width: 1200px) {
  section.home nav .nav_side .links {
    display: none;
  }
  section.home nav .bar_toggle i {
    display: inline-block;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  section.home nav .logo img {
    width: 150px;
  }
}
/* End NavBar */
/* ================= Start Text Section ================= */
section.home > .container .text_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
  top: 50%;
  right: 0;
  color: var(--white_color);
  transform: translate(-50%, -50%);
}
section.home > .container .text_side h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}
section.home > .container .text_side p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 40px;
}
section.home > .container .text_side .btns a.prod_btn {
  background-color: var(--main_color);
  margin-right: 25px;
  border: 2px solid var(--main_color);
  padding: 13px 30px;
}
section.home > .container .text_side .btns a.about_btn {
  background-color: var(--bg-color);
  border: 2s solid var(--bg-color);
  padding: 15px 30px;
}
@media (max-width: 1200px) {
  section.home > .container .text_side h1 {
    font-size: 80px;
  }
}
@media (max-width: 991px) {
  section.home > .container .text_side {
    left: 50%;
    text-align: center;
    gap: 30px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  section.home > .container .text_side {
    gap: 5px;
  }
  section.home > .container .text_side h1 {
    font-size: 60px;
    line-height: 30px;
  }
  section.home > .container .text_side .btns a.about_btn {
    padding: 10px 13px;
  }
  section.home > .container .text_side .btns a.prod_btn {
    padding: 7px 10px;
    margin-right: 10px;
  }
}
@media (max-width: 339px) {
  section.home > .container .text_side h1 {
    font-size: 45px;
    line-height: 25px;
  }
}

@keyframes background_change {
  0%,
  100% {
    background-image: url(../images/coffee_bigslide_1.jpg);
  }
  25% {
    background-image: url(../images/coffee_bigslide_3-1.jpg);
  }
  50% {
    background-image: url(../images/coffee_bigslide_6.jpg);
  }
  75% {
    background-image: url(../images/coffee_bigslide_7.jpg);
  }
}

/* End Home Section */

/* ================= Start About Section ================= */
section.about .container {
  background-image: url(../images/map-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.about .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}

@media (max-width: 1200px) {
  section.about .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991px) {
  section.about .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
section.about .container .about_text p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 50px;
}
section.about .container .about_text a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 10px 25px;
  background-color: var(--main_color);
  color: var(--white_color);
  transition: 0.4s linear;
}
section.about .container .about_text a:hover {
  background-color: var(--white_color);
  color: var(--bg-color);
}

section.about .container .opening-text h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: var(--white_color);
  margin-bottom: 50px;
}
section.about .container .opening-text ul li {
  display: flex;
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
}
section.about .container .opening-text ul li h3 {
  color: var(--main_color);
}
section.about .container .opening-text ul li span {
  color: var(--white_color);
  text-transform: uppercase;
}
section.about .container .img_section {
  width: 80%;
}
section.about .container .img_section img {
  width: 380px;
}
@media (max-width: 991px) {
  section.about .container {
    gap: 60px;
  }
  section.about .container .img_section {
    display: none;
  }
  section.about .container .text_side h1 {
    font-size: 50px;
  }
  section.about .container .about_text p {
    font-size: 20px;
  }
  section.about .container .break {
    display: none;
  }
}
@media (max-width: 1200px) {
  section.about .container {
    flex-direction: column;
    gap: 40px;
  }
  section.about .container .img_section {
    text-align: center;
  }
}
/* End About Section */
/* ================= Start Skills Section ================= */
section.skills {
  background-image: url(../images/Rectangle-27-copy-2.jpg);
  background-position: center center;
  padding-top: var(--main-padding);
  padding-bottom: calc(var(--main-padding) / 2);
}
section.skills .text_side {
  text-align: center;
}
section.skills .container .boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
section.skills .container .boxs .box {
  color: var(--white_color);
  border: 10px solid var(--white_color);
  padding: 35px 25px;
  text-align: center;
}
section.skills .container .boxs .box h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  color: var(--main_color);
  margin-bottom: 10px;
}
section.skills .container .boxs .box h3 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 13px;
}
section.skills .container .boxs .box p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

@media (max-width: 992px) {
  section.skills .container .boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (max-width: 768px) {
  section.skills .container .boxs {
    gap: 20px;
  }
}
@media (max-width: 481px) {
  section.skills .container .boxs {
    grid-template-columns: repeat(1, 1fr);
  }
  section.skills .container .boxs .box {
    padding: 15px;
  }
  section.skills .container .boxs .box h1 {
    font-size: 55px;
  }
}
/* End Skills Section */
/* ================= Start Menu Section ================= */
section.menu {
  background-image: url(../images/slide_main_coffee2.jpg);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  text-align: center;
  display: none;
}
section.menu .container .row {
  background-color: var(--main_color);
  width: max-content;
  padding: 100px 75px;
  margin: 0 auto;
}
section.menu .container .row .text_side span {
  color: var(--white_color);
}
section.menu .container .row .text_side h1 {
  color: var(--bg-color);
  margin-bottom: 30px;
}
section.menu .container .row ul.type {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
section.menu .container .row ul.type li {
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  transition: 0.4s;
}
section.menu .container .row ul.type li:hover {
  color: var(--white_color);
}
section.menu .container .row ul.menu_items {
  max-height: 450px;
  overflow-y: scroll;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 75px;
}
section.menu .container .row ul.menu_items li .details {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
}
section.menu .container .row ul.menu_items li h2 {
  display: inline-block;
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  color: var(--bg-color);
}
section.menu .container .row ul.menu_items li span {
  border-bottom: 1px dashed var(--bg-color);
  margin-bottom: 10px;
}

section.menu .container .row ul.menu_items li p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
}
/* width */
section.menu .container ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
section.menu .container ::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
section.menu .container ::-webkit-scrollbar-thumb {
  background: var(--white_color);
}

/* End Menu Section */

/* ================= Start Testimonail Section ================= */
section.testimonail {
  background-image: url(../images/coffee_parallax.jpg);
  background-position: center center;
  background-attachment: fixed;
  display: none;
}
section.testimonail .container {
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  text-align: center;
}
section.testimonail .swiper {
  width: 80%;
  height: 100%;
  color: var(--white_color);
}

section.testimonail .swiper-slide {
  border: 10px solid var(--main_color);
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
section.testimonail .slide_container {
  margin: 0 auto;
  max-width: 70%;
}
section.testimonail .swiper-slide h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
section.testimonail .swiper-slide span {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
}
section.testimonail .swiper-slide p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  margin-top: 30px;
}
section.testimonail .swiper-slide span.fa {
  padding: 40px;
  font-size: 60px;
  zoom: 1.4;
}

section.testimonail .container .swiper_btn::after {
  background-color: var(--main_color);
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
/* End Testimonail Section */

/* ================= Start Icons Section ================= */

section.icons {
  padding-top: calc(var(--main-padding) / 2);
  padding-bottom: calc(var(--main-padding) / 2);
}
section.icons .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 60px;
}
section.icons .container img {
  margin: 0 auto;
}

@media (max-width: 991px) {
  section.icons .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  section.icons .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 481px) {
  section.icons .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* End Icons  */

/* ================= Start Offer Section ================= */
section.offer .container {
  padding: 0;
 position: relative;
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
section.offer .container .text_offer {
  text-align: center;
  margin: auto 0;
}
section.offer .container .text_offer .text_side {
  padding-bottom: 30px;
}
section.offer .container .text_offer .text_side span 
{
  color: var(--white_color);
}
section.offer .container .text_offer .text_side h1 {
  color: var(--main_color);
}
section.offer .container .text_offer p 
{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--white_color);
  width: 60%;
  margin: 40px auto;
}
section.offer .container .text_offer a.btn 
{
  background-color: var(--main_color);
  padding: 10px 50px;
}
section.offer .container .text_offer a.btn:hover {
  background-color: var(--white_color);
  border: 2px solid black;
}
section.offer .container .img_offer img
{
  width: 100%;
  height: 100%;
}
@media (max-width:1200px) {
  section.offer .container .img_offer
  {
    display: none;
  }
  section.offer .container
  {
    grid-template-columns: repeat(1, 1fr);
  }
section.offer .container .text_offer p {
width: 80%;
}
}
@media (max-width:768px) {
section.offer .container .text_offer .text_side h1 {
  font-size: 36px;
  line-height: 40px;
}
section.offer .container .text_offer .text_side span {
  font-size: 20px;
  line-height: 22px;
}
}
/* End Offer Section */

/* ================= Start Blog Section ================= */
section.blog .container
{
  padding-top: var(--main-padding);
}
section.blog .container .text_side
{
  position: relative;
  text-align: center;
  padding-bottom: var(--main-padding);

}
section.blog .container .text_side:before 
{
  content: "Blog";
  position: absolute;
  color: var(--white_color);
  opacity: 0.09;
  left: 50%;
  transform: translateX( -50%);
  font-size: 100px;
  line-height: 66px;
  z-index: -1;
  font-weight: 800;
  zoom:1.9;
  top: 0;
}
section.blog .container .blogs
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
section.blog .container .blogs .box 
{
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.blog .container .blogs .box:hover .img_box img 
{
  transform: scale(1.1);
}
section.blog .container .blogs .box .img_box
{
  overflow: hidden;
}
section.blog .container .blogs .box .img_box img 
{
  transition: var(--main-transition) linear;
  width: 100%;
}
section.blog .container .blogs .box h2 
{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: var(--main_color);
}
section.blog .container .blogs .box > h2:hover 
{
  color: #242424;
}
section.blog .container .blogs .box p 
{
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: var(--white_color);
}
/* End Blog Section */